<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reseteo de Clave - {{company}}</title>
    <style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
</style>
</head>


<body style=" font-family: 'Roboto', 'sans-serif'">
    <h1>Reseteo Clave - {{company}}</h1>
    <h2>¡Hola {{name}}! </h2>
    <img src="cid:email-reset-illustration" alt="Reseteo Password">
    <p>Al parecer recibimos una solicitud para resetear tu clave. </p>
    <p>Haz click en el link Resetear Clave para que te enviemos un link para que puedas ingresar tu nueva clave.</p>
    <a style=" color: #583c87;
        background-color: #ffc233;
        " href={{link}}>Resetear Clave</a>
    <p>Si no enviaste la solicitud para resetear tu clave, simplemente omití este correo.</p>
</body>

</html>